* {
  box-sizing: border-box;
}

// Add Variables
$common-background: #141722;

html {
	font-size: 62.5%;
	background: $common-background;
	font-family: 'Open Sans', sans-serif;
}

@mixin responsive-image () {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}