@import './common';

.content__background {
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	&:before {
		content: '';
		background: rgb(113,48,96);
		background: linear-gradient(117deg, rgba(113,48,96,1) 0%, rgba(35,29,50,1) 100%);
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
}


.Details {
	margin-left: 20vw;
	width: 80vw;
	background: transparent;
	position: relative;

  h2 {
    text-align: center;
    font-size: 4rem;
  }

  &__flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__image-container {
    margin: 0 4rem 0 4rem;
    width: 100%;
    max-width: 40rem;

    img {
      @include responsive-image();
    }
  }

  &__text-container {
    width: 100%;

    h4 {
      font-size: 4rem;
      margin: 0 auto;
    }

    h5 {
      font-size: 3rem;
    }
  }

  .spinner {
    // The height here is just for demo purposes
    height: auto;
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;
    transform: translateY(35rem);

    &::before {
      animation: 2s linear infinite spinner;
      border: solid 3px #eee;
      border-bottom-color: #EF6565;
      border-radius: 50%;
      content: "";
      height: 15rem;
      left: 50%;
      opacity: inherit;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      transform-origin: center;
      width: 15rem;
      will-change: transform;
    }
  }

  .filter {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      padding: 0;

      li {
        cursor: pointer;
        button {
          font-size: 3rem;
          width: 17rem;
        }
      }
    }
  }
}


@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.Legalities{
  summary {
    font-size: 3rem;
  }

  h4 {
    display: inline-block;
    font-size: 2rem;
  }

  h5 {
    display: inline-block;
     font-size: 2rem;
  }

  div:not(:first-child) {
    background: blueviolet;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    border-radius: 1rem;
  }
}
